@{
    ViewBag.Title = "About";
}
<style>
    .about {
        font-size:25px;
    }
</style>
<h1>@ViewBag.Title</h1>

<h2 class="about">This is an E-Commerce book selling web application developed by <strong>Shusheng</strong> and <strong>Qian</strong>.<br />
    <br />
    The book information is retrieved from Google Books API.<br />
    <br />
    Main technologies used are ASP.NET MVC, C#, HTML, CSS, Bootstrap, JQuery.<br />
    <br />
    Please refer to our Contact page if you have any questions or suggestions.
</h2>
